
@import '../common/styles/colors';

.header {
    background-color: $charade;
    height: 50px;
    line-height: 50px;

    &__icon {
        margin: 10px;
    }

    &__menu {
        float: right;

        .menu-select__select__icon {
            color: $white;
        }
    }
}
